<%= form_for(@recipe) do |r| %>
<div>
  <%= r.label :title %>
  <%= r.text_field :title %>
</div>
  <%= r.fields_for :ingredients do |i| %>
  <div>
    <%= i.label :name %>
    <%= i.text_field :name %><br>
    <%= i.label :quantity %>
    <%= i.text_field :quantity %>
  </div>
  <% end %>
<%= r.submit %>
<% end %>
